.all {
margin-top: 20px;
min-height: 1380px;
min-width: 700px;
border-radius: 15px;
box-shadow: 15px 15px 15px 30px rgba(0,0,0, .85);
border: 2px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}